[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matahari"]
	path = matahari
	url = https://github.com/jhudsl/matahari
[submodule "mscstts"]
	path = mscstts
	url = https://github.com/jhudsl/mscstts
[submodule "ottrpal"]
	path = ottrpal
	url = https://github.com/jhudsl/ottrpal
