[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ari"]
	path = ari
	url = https://github.com/jhudsl/ari
[submodule "aws.polly"]
	path = aws.polly
	url = https://github.com/cloudyr/aws.polly
	registered = false
[submodule "aws.signature"]
	path = aws.signature
	url = https://github.com/cloudyr/aws.signature
	registered = false
[submodule "conrad"]
	path = conrad
	url = https://github.com/fhdsl/conrad
	registered = false
[submodule "cow"]
	path = cow
	url = https://github.com/jhudsl/cow
	registered = false
[submodule "crsra"]
	path = crsra
	url = https://github.com/jhudsl/crsra
[submodule "matahari"]
	path = matahari
	url = https://github.com/jhudsl/matahari
[submodule "mscstts"]
	path = mscstts
	url = https://github.com/jhudsl/mscstts
[submodule "ottrpal"]
	path = ottrpal
	url = https://github.com/jhudsl/ottrpal
[submodule "text2speech"]
	path = text2speech
	url = https://github.com/jhudsl/text2speech
